.h1 {
    font-size: 5.6rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -2%;
    color: $color-text;
    &_accent {
        font-weight: 600;
        color: $color-text-accent;
    }
}

.h2 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: $color-text;
    &_accent {
        font-weight: 600;
        color: $color-text-accent;
    }
}

.h3 {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: $color-text;
    &_accent {
        font-weight: 600;
        color: $color-text-accent;
    }
}

.h4 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 6%;
    color: $color-text;
    &_accent {
        font-weight: 600;
        color: $color-text-accent;
    }
}

.h5 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 4%;
    color: $color-text;
    &_accent {
        font-weight: 600;
        color: $color-text-accent;
        text-transform: uppercase;
    }
}

.body__text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: $color-text;
    &_accent {
        font-weight: 600;
        color: $color-text-accent;
    }
}

.button {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 4%;
    color: $color-text-accent;
    text-transform: uppercase;
}